@media screen and (min-width: 976px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #32127a;
    height: 55px;
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 976px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    background-color: #32127a;
    height: 55px;
    width: 100%;
    padding-left: 10px;
  }
}
.nav-start {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}
.nav-button {
  background-color: #32127a;
  color: #ffffff;
  border: transparent;
  cursor: pointer;
}

@media screen and (max-width: 976px) {
  .nav-heading {
    font-size: 20px;
    font-weight: 500;
  }
}
.nav-heading {
  color: #ffffff;
  font-family: 'Roboto';
}
@media screen and (max-width: 976px) {
  .nav-items {
    display: none;
  }
}
@media screen and (min-width: 976px) {
  .nav-items {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 976px) {
  .login-button {
    display: none;
  }
}
@media screen and (min-width: 976px) {
  .login-button {
    color: #32127a;
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 8px;
    height: 35px;
    font-weight: bold;
    border-color: #32127a;
    justify-content: center;
  }
}
.profile-icon {
  width: 25px;
  height: 16px;
}
@media screen and (min-width: 976px) {
  .buy-button {
    display: none;
  }
}

@media screen and (max-width: 976px) {
  .buy-button {
    background-color: #32127a;
    color: #ffffff;
    border: none;
    padding-left: 610px;
  }
}

.navbar {
  background-color: #32127a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  margin-bottom: 25px;
  padding-right: 20px;
}

.button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 20px;
  border: 0px;
  background-color: #ffffff;
}

.line-break {
  height: 2px;
  width: 200px;
  margin-right: 50px;
  background-color: #d5f6fe;
}
.login-nav {
  color: #d5f6fe;
}
.profile-nav-icon {
  margin-top: 10px;
  background-color: transparent;
  margin-left: 35px;
  color: #d5f6fe;
}

.close-icon {
  margin-left: 25px;
  font-size: 2rem;
  background: none;
  color: #d5f6fe;
}
.nav-heading {
  padding-left: 10px;
}
.nav-bar {
  background-color: #32127a;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 250ms;
}

.nav-bar.active {
  left: 0;
  transition: 250ms;
}

.nav-bar-items {
  width: 100%;
  list-style-type: none;
  align-items: center;
  overflow: scroll;
}
.nav-bar-items::-webkit-scrollbar {
  display: none;
}
.navbar-logo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.nav-description {
  color: #d5f6fe;
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.nav-icons {
  font-size: 20px;
  margin-right: 16px;
  text-align: center;
}
